
@{
    ViewData["Title"] = "Create account";
}
@section DashboardHeader {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Accounts">Account List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="AddAccount">Add Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Stats">Personal Statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text bg-red" asp-controller="Dashboard" asp-action="Logout">Logout</a>
    </li>
}
<h1>Add personal account</h1>
<form id="form" name="form" method="post" asp-controller="Account" asp-action="CreateAccount">
        <div class="row mb-1">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="name" required />

            </div>
        </div>
        <div class="row mb-1">
            <label class="col-sm-2 col-form-label">Starting Balance</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" name="balance" required />

            </div>
        </div>
        <div class="row mb-0">
            <div class="col-sm-2">
                <input type="submit" name="submit" id="submit" value="Submit" />

            </div>
        </div>
       
       
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>
