@{
    ViewData["Title"] = "Dashboard";
}
@section DashboardHeader {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Accounts">Account List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="AddAccount">Add Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Stats">Personal Statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text bg-dark" asp-controller="Dashboard" asp-action="Logout">Logout</a>
    </li>
}

<div class="container">
    <h1>Welcome to Your Dashboard</h1>
</div>
