@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
<h1>Log in</h1>
<form id="form" name="form" method="post" asp-controller="Register" asp-action="Register">
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" name="username" required />

            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <input type="text" name="firstName" required />

            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" name="lastName" required />

            </td>
        </tr>

        <tr>
            <td>E-mail</td>
            <td>
                <input type="email" name="email" required />

            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="password" required />
            </td>
        </tr>

        <tr>
            <td>Repeat password</td>
            <td>
                <input type="password" name="passwordRepeat" required />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" id="submit" value="Submit" />
            </td>
        </tr>
    </table>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>
